* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
:root {
    --color1: #89CFF0;
    --color2: #aeccc6;
    --color3: #9ba6a5;
    --color4: #757a79;
    --color5: #383838;
}

.nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--color1);  
    align-items: center;  
}

.nav-bar-list {
    display: flex;
    margin-right: 50px;
}

.name {
    background-color: var(--color1);
    color: var(--color4);
    margin: 0;
    padding: 3px 10px 3px 50px;
    height: fit-content;
}



.item {
    display: flex;
    font: var(--color1);
    list-style-type: none;
    text-decoration: underline;
    margin-left: 10px;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-image: url(./images/blue-background.jpeg);
}
    
 .Molly-avatar {
    height: 200px;
    width: 125px;
    border-radius: 50px;
    border: 4px solid var(--color4);
}

header {
    display: flex;
    background-color: var(--color5);
    background-image: var(--background-image);
   
}

h1, h2 {
    display: flex;
    color: var(--color4);
}

.hdr2,.hdr-2 {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-end;
}

.section1, .section2, .section3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}

hr {
    margin: 0;
    background-color: var(--color5);
    width: 2px;
    border: none;
    height: auto;
    margin: 0 20px 0 10px;

}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

}

.first-part {
    height: fit-content;
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 95px;
}

.second-part {
    display: flex;
    height: auto;
    width: 690px;
}
img.stock {
    height: 50px;
    width: 150px;
    border: solid var(--color1);
    /*filter: grayscale(70%) blur(.5px);*/
    filter: sepia(100%) hue-rotate(160deg) saturate(120%);
}

img:hover {
    filter: none;
    border: solid var(--color1);
    cursor: pointer;
}

.p1 {
    font-size: small;
}

.p2 {
    margin-top: 20px;
    /* display: flex; */
    /* flex-direction: column; */
   font-size: small;  
  /* margin: 30px 80px 0px 20px; */
}

.contact-info {
    display: flex;
    font: var(--color1);
    list-style-type: none;
    text-decoration: underline;
    margin-left: 10px;
    color: var(--color4);
}

.paragraphs {
    width: 690px;
}

.item-2 {
    justify-content: end;
}