* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --color1: #89CFF0;
    --color2: #aeccc6;
    --color3: #9ba6a5;
    --color4: #757a79;
    --color5: #383838;
}

body {
    min-width: fit-content;
}

/* Nav bar/header styling */
.nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--color1);
    align-items: center;
}

.nav-bar-list {
    display: flex;
    margin-right: 50px;
    list-style-type: none;
}

.name {
    background-color: var(--color1);
    color: var(--color4);
    margin: 0;
    padding: 3px 10px 3px 50px;
    height: fit-content;
}

.item a {
    display: flex;
    color: var(--color1);
    list-style-type: none;
    text-decoration: underline;
    margin-left: 10px;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-image: url(./images/blue-background.jpeg);
}

.Molly-avatar {
    height: 200px;
    width: 125px;
    border-radius: 50px;
    border: 4px solid var(--color4);
}

header {
    display: flex;
    background-color: var(--color5);
    background-image: var(--background-image);
}

/* Styling of sections and main page content*/
h1,
h2 {
    display: flex;
    color: var(--color4);
    font-size: 3em;
}

.hdr2,
.hdr-2 {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-end;
    font-size: 3em;
}

.section1,
.section2,
.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 70%;
}

hr {
    margin: 0;
    background-color: var(--color5);
    width: 2px;
    border: none;
    height: auto;
    margin: 0 20px 0 10px;
    min-width: 2px;

}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

}

.first-part {
    height: fit-content;
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 95px;
}

.second-part {
    display: flex;
    height: auto;
    width: 80%;
}

.p1,
.p2 {
    font-size: x-large;
}

.p1 {
    margin-top: 0;
}

.p2 {
    margin-top: 20px;
    margin-bottom: 0;
}

.contact-info {
    list-style-type: none;
    text-decoration: underline;
    color: solid var(--color4);
    font-size: x-large;
}

.item-2 {
    justify-content: end;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: solid var(--color4);
    padding-left: 0px;
    width: 100%;
}

/* Image styling for "Work" section*/
.images-box {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.images {
    position: relative;
    width: 49.5%;
    max-height: 200px;
    margin-bottom: 22px;
}

.images1 {
    position: relative;
    width: 100%;
    max-height: 400px;
    margin-bottom: 40px;
}

img.stock1 {
    max-height: 425px;
    width: 100%;
    border: solid var(--color1);
    filter: sepia(100%) hue-rotate(160deg) saturate(120%);
}

img.stock{
    height: 100%;
    width: 100%;
    border: solid var(--color1);
    filter: sepia(100%) hue-rotate(160deg) saturate(120%);
}

.left-image {
    margin-right: 1%;
}

img:hover {
    filter: none;
    border: solid var(--color1);
    cursor: pointer;
}

/* Text block styling */
.text-block1 {
    background-color: var(--color1);
    color: var(--color5);
    position: absolute;
    top: 347px;
    left: 0;
    width: 200px;
    height: 65px;
}
.text-block {
    background-color: var(--color1);
    color: var(--color5);
    position: absolute;
    top: 123px;
    left: 0;
    width: 200px;
    height: 65px;
}

.text-tile-top {
    font-size: larger;
    margin: 10px 0px 5px 20px;
}

.text-tile {
    margin-left: 25px;
    margin-top: 0;
    font-size: smaller;
}

/* Media queries for small devices (portrait tablets and large phones) */
@media screen and (max-width: 1210px) {
    .contact-info {
        font-size: medium;
        margin-bottom: 5px;
    }
    .contact-content{
        flex-direction: column;
    }
    .p1, .p2 {
        font-size: larger;
    }
    .hdr2, .hdr-2, h1, h2 {
        font-size: 2em;
    }
    .images {
        width: 100%;
    }
    .images1 {
        margin-bottom: 22px;
        max-height: 200px;
    }
    .stock1 {
        height: 200px;
    }
    .text-block1 {
        top: 123px;
        left: 0;
        width: 200px;
        height: 65px;
    }
    .left-image {
        margin-right: 0;
    }
} 

 /* Styling to image text block */
@media screen and (max-width: 580px) {
    .text-block {
        top:88px;
    }
}
    
